body{
    font-family: 'Poppins', sans-serif;
    margin: 50px;
    background-color: rgba(241, 245, 179, 0.623);

}
section{
    margin-bottom: 150px;
}
.intro{
    display: flex;
    width: 100%;
}
.class_one{
    width: 50%;
    padding: 0% 5%;
    /*background-color: rgba(241, 245, 179, 0.623);*/
    text-align: justify;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.class_one h1{
    font-size: 80px;
    font-weight: 500;
    border-left: 5px solid tomato;
    border-radius: 3px;
    padding-left: 15px;
}
h1 span{
    color: rgba(255, 99, 71, 0.959);
}
.button{
    text-decoration: none;
    font-weight: bold;
    color: wheat;
    background-color: rgba(255, 99, 71, 0.959);
    padding: 15px 40px;
    border-radius: 5px ;
}
.class_one img{ 
    width: 80%;
    padding-left: 20%;
}
/* End of section one*/

h1{
    font-size: 50px;
    font-weight: bold;
} 

.second-section h1{
    text-align: center;  
}

.section-two-img{
    width: 30%;
}

.all-mission{
    width: 30%;
    border-radius: 17px;
    padding: 2% 1%;
    box-shadow:10px 10px 30px grey;
    color: whitesmoke;
    text-align: justify;
}

.mission{ 
    margin-right: 2%;
    background-color: #008b68e8;
}

.vission{
    margin-left: 2% ;
    margin-right: 2%;
    background-color: #008B7D;	
}

.goals{
    margin-left: 2% ;
    background-color: #0091A9;
}

/** End of section two**/

.study-left{
    width: 40%;
}

.study-right{
    width: 60%;
    padding-right: 3%;
    text-align: justify;
    font-size: 20px;
    background-image: url("images/shape-1.png");
    background-repeat: no-repeat ;
    background-size: 30%;
    background-position-x: 115%;
    
}

.study-left img{
    width: 80%;
    padding-bottom: 2%;
}
   
/**End of section three**/


.knowledge-left{
    width: 60%;
    text-align: justify;
    font-size: 20px;

    background-image: url("images/shape-1.png");
    background-repeat: no-repeat ;
    background-size: 30%;
    background-position-x: -25%;
}

.knowledge-right{
    width: 40%;
}

.knowledge-right img {
    width: 80%;
    padding-left: 10%;
}

/*End of Section four*/

footer{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: 15px 0;
}
